<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">
    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-email" class="icon"></md-icon>
        </span>
        <span class="logo-text" translate="Message Center">Message Center</span>
    </div>
    <div class="account">
        <md-button class="md-raised" aria-label="compose"
                   ng-click="vm.subscribeToGroups($event)" translate="Subscribe to Groups">
            Subscribe to Groups
        </md-button>
    </div>
</div>
<!-- / SIDENAV HEADER -->
<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>
    <div class="compose-button" ng-if="vm.folder.editable">
        <md-button class="md-accent md-raised" aria-label="compose"
                   ng-click="vm.composeDialog($event)" translate="MAIL.COMPOSE">
            COMPOSE
        </md-button>
    </div>
    <div class="navigation-simple" layout="column">

        <div class="item topheader secondary-text" style="margin-bottom:0; text-align:center" translate="Message Groups">Message Groups</div>

        <md-list class="no-padding mail-opt-list">
            <md-list-item ng-repeat="folder in vm.filters" ng-click="vm.loadFilter(folder)" ng-class="{'md-accent-bg':folder.id == vm.currentFilter.filter}">
                <md-icon md-font-icon="{{folder.icon}}"></md-icon>
                <p class="text-truncate">{{folder.name | translate}}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-repeat="folder in vm.folders" ng-click="vm.loadFolder(folder)" ng-class="{'md-accent-bg':folder.id == vm.currentFilter.type}">
                <md-icon ng-if="!folder.avatar" ng-class="{'md-avatar-icon _text': true}">{{folder.name.substr(0,2)}}</md-icon>
                <img ng-src="{{folder.avatar}}" class="md-avatar" alt="{{folder.name}}" ng-if="folder.avatar && !folder.icon" />
                <p class="text-truncate">{{folder.name}}</p>
            </md-list-item>
        </md-list>
    </div>
</md-content>
<!-- / SIDENAV CONTENT -->