<div layout="row" layout-wrap style="max-width:1000px; margin:0 auto;">
    <!-- BASIC FORM -->
    <div class="padding-10" flex="100" flex-gt-sm="60">
        <div class="form-wrapper group-detail-form-container md-whiteframe-1dp">
            <div class="form-title" translate>Group Details</div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label translate>Group Name</label>
                    <input type="text" name="groupname" ng-model="vm.group.name" required>
                    <div ng-messages="groupForm.groupname.$error" role="alert">
                        <div ng-message="required">
                            <span translate>Mandatory</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row">
                <md-input-container flex>
                    <label translate>Group Category</label>
                    <md-select ng-model="vm.group.category" ng-required="true">
                        <md-option ng-repeat="o in MS.group_categories" value="{{o.id}}">
                            {{o.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label translate>Group Type</label>
                    <md-select ng-model="vm.group.groupType" ng-required="true">
                        <md-option ng-repeat="o in MS.group_types" value="{{o.id}}">
                            {{o.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label translate>Active</label>
                    <md-select ng-model="vm.group.active" ng-required="true">
                        <md-option ng-repeat="o in MS.group_active" value="{{o.id}}">
                            {{o.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div>
                <h4 translate>Group Description</h4>
                <text-angular ng-model="vm.group.description"></text-angular>
                <input type="hidden" ng-model="vm.group.description" name="groupDescription" required />
            </div>


            <h3 class="tags secondary-text" translate="Tags">Tags</h3>
            <md-chips ng-model="vm.group.tags"
                      placeholder="{{'Enter a tag' | translate}}"
                      delete-button-label="{{'Remove Tag' | translate}}"
                      delete-hint="Press delete to remove tag"
                      secondary-placeholder="{{'+Tag' | translate}}">
            </md-chips>


        </div>
    </div>
    <!-- / BASIC FORM -->
    <!-- BASIC FORM DATA -->
    <div class="padding-10" flex="100" flex-gt-sm="40">

        <!--GROUP IMAGE-->
        <div class="form-wrapper group-detail-form-container form-data-wrapper md-whiteframe-1dp text-center">
            <div class="form-title" translate>Group Image</div>
            <input id="acc-image-input" type="file" style="display:none" accept="image/*" />

            <div class="padding-vertical-15">
                <img ng-src="{{vm.group.image || vm.group.avatar ||  'assets/images/icon-camera.svg'}}" on-error-src="assets/images/icon-camera.svg" style="max-width:150px;" />
            </div>

            <md-button class="md-raised md-accent" ng-click="vm.aploadImage()">
                <span translate="Upload Image">Upload Image</span>
            </md-button>
        </div>
        <!--/ GROUP IMAGE-->

    </div>
    <!-- / BASIC FORM DATA -->
</div>