<div ng-if="!vm.currentThread" class="no-thread-selected" layout="column" layout-align="center center" flex>
    <md-icon md-font-icon="icon-email" class="s120 grey-400-fg"></md-icon>
    <span class="hint-text" translate="MAIL.SELECT_MESSAGE_TO_READ">Select a message to read</span>
</div>
<div ng-if="vm.currentThread">
    <div class="thread-header" layout="row" layout-align="space-between center">
        <div>
            <div class="subject" flex>{{vm.currentThread.subject}}</div>
        </div>
        <div class="actions" layout="row" layout-align="start center">
            <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('starred')"
                       aria-label="Toggle starred" translate translate-attr-toogle-starred="MAIL.TOGGLE_STARRED">
                <md-icon ng-if="vm.currentThread.starred" md-font-icon="icon-star"
                         class="amber-fg"></md-icon>
                <md-icon ng-if="!vm.currentThread.starred" md-font-icon="icon-star-outline"></md-icon>
            </md-button>
        </div>
    </div>
    <div class="thread-content">
        <div class="info" layout="row" layout-align="space-between start">
            <div layout="column" layout-align="start start">
                <div layout="row" layout-align="start center">
                    <div>
                        <img ng-if="vm.currentThread.group.avatar" alt="{{vm.currentThread.group.name}}"
                             ng-src="{{vm.currentThread.group.avatar}}" class="avatar" />
                        <div ng-if="!vm.currentThread.group.avatar" class="avatar" ms-random-class="vm.colors">
                            {{vm.currentThread.group.name[0]}}
                        </div>
                    </div>
                    <div layout="column" layout-align="center start">
                        <div class="name">
                            {{vm.currentThread.group.name}}
                        </div>
                        <div class="secondary-text font-size-10">
                            {{vm.currentThread.created |  amDateFormat:'dddd, MMM DD YYYY, hh:mm'}}
                        </div>
                    </div>
                </div>
            </div>
            <md-menu>
                <md-button aria-label="More" class="md-icon-button"
                           ng-click="$mdMenu.open($event)"
                           translate translate-aria-label="MAIL.MORE">
                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-if="!vm.currentThread.read">
                        <md-button ng-click="vm.setThreadStatus('read', true)">
                            <md-icon md-font-icon="icon-email"></md-icon>
                            <span translate="MAIL.MARK_AS_READ">Mark as read</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.currentThread.read">
                        <md-button ng-click="vm.setThreadStatus('read', false)">
                            <md-icon md-font-icon="icon-email"></md-icon>
                            <span translate="MAIL.MARK_AS_UNREAD">Mark as unread</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button aria-label="Print" translate-aria-label="MAIL.PRINT">
                            <md-icon md-font-icon="icon-printer"></md-icon>
                            <span translate="MAIL.PRINT">Print</span>
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="vm.setThreadStatus('delete', true)">
                            <md-icon md-font-icon="icon-trash"></md-icon>
                            <span translate="MAIL.DELETE">Delete</span>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>
        </div>

        <div ng-if="vm.currentThread.scheduled" class="text-center  padding-vertical-5">
            <div class="text-boxed inline" ng-class="{'md-amber-300-bg':vm.currentThread.urgent}">
                <i class="icon-clock s12"></i>
                {{vm.currentThread.scheduleDate |  amDateFormat:'dddd, DD MMM YYYY, hh:mm'}}
            </div>
        </div>

        <div ng-bind-html="vm.currentThread.message"></div>
    </div>
    <div ng-if="vm.currentThread.attachments" class="thread-attachments">
        <div class="title">
            <span translte="MAIL.ATTACHMENTS">Attachments</span> ({{vm.currentThread.attachments.length}})
        </div>
        <div class="attachment-list" layout-wrap layout="row">
            <div class="attachment" layout="column"
                 ng-repeat="attachment in vm.currentThread.attachments">
                <img class="preview" ng-src="{{attachment.preview}}">
                <div layout="column">
                    <a href="#" class="md-accent-color link" translate="MAIL.VIEW">View</a>
                    <a href="#" class="md-accent-color link" translate="MAIL.DOWNLOAD">Download</a>
                    <div class="size">({{attachment.size}})</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'app/main/apps/mail/blocks/comments.html'">
    </div>

</div>