#orgs {
    // Center
    .center {
        .header {
            padding: 24px 0; 
        }

        .content-card {

            .toolbar {
                padding: 0;
                position: relative;

               .sort-toggle {
                    margin: 0;
                    width: 56px;
                    height: 56px;
                    background: #FFFFFF;
                    border-radius: 0;
                    border-left: 1px solid rgba(0, 0, 0, 0.12);
                }

                .search-wrapper{
                    background:#fff;
                }

                .search {
                    height: 56px;
                    line-height: 56px;
                    padding: 18px;
                    background: #FFFFFF;

                    .icon {
                        margin: 0;
                    }

                    input {
                        padding-left: 16px;
                        height: 56px;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }

            }

            .content {
                padding: 0;
                overflow: hidden;

                .orgs-list-pane {
                    background: #FAFAFA;
                    .orgs-items {
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    ._rtl & {
        .center {
            .header {

            }
            .content-card {
                .toolbar {
                    .sort-toggle {
                        border-right: 1px solid rgba(0, 0, 0, 0.12);
                        border-left-width:0;
                    }

                    .search {
                        input {
                            padding-right: 16px;
                        }
                    }
                }
                .content {
                    padding: 0;
                    overflow: hidden;
                    .orgs-list-pane {
                        background: #FAFAFA;
                    }
                }
            }
        }
    }
}

.orgs-item {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;
    cursor: pointer;
    
    .info {
        margin: 0 16px 0 8px;
        .title {
            font-size: 15px;
            font-weight: 500;
        }
        .notes {
            margin-top: 4px;
        }
    }

    ._rtl &{
        .info {
            margin: 0 8px 0 16px;
        }
    }
}