<div id="orgs" class="page-layout carded condensed left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->



    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header condensed" layout="row" layout-align="start center"></div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div class="search-wrapper" flex layout="row" layout-align="start center">
                    <div class="search" flex layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                        <input flex ng-model="vm.orgFilters.search" type="text"
                               ng-model-options="{ debounce: 200 }"
                               placeholder="{{ORGS.SEARCH | translate}}">
                    </div>
                    <md-button class="md-icon-button sort-toggle"
                               ng-click="vm.orgOrderDescending = !vm.orgOrderDescending"
                               aria-label="Sort Direction"
                               translate translate-attr-aria-label="ORGS.SORT_DIRECTION">
                        <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.orgOrderDescending === false"></md-icon>
                        <md-icon md-font-icon="icon-sort-descending" ng-if="vm.orgOrderDescending === true"></md-icon>
                    </md-button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="row" flex>

                <!-- ORGS LIST pane -->
                <md-content class="orgs-list-pane" flex ms-scroll="vm.msScrollOptions">

                    <!-- ORGS LIST -->
                    <div class="orgs-items" ng-sortable="vm.sortableOptions" ng-model="vm.orgs">
                        <div class="orgs-item" md-ink-ripple layout="row" layout-align="start center"
                             ng-click="vm.selectOrganization($event, org)"
                             ng-repeat="org in vm.orgs | orderBy:vm.orgOrder:vm.orgOrderDescending | filter:{name: vm.orgFilters.search} | limitTo:50 track by $index"
                             ng-class="{'starred': org.starred, 'selected': org.selected}">

                            <div layout="row" layout-align="start center" flex>
                                <md-button class="md-fab md-mini md-accent" aria-label="Use Android">
                                    <md-icon md-font-icon="icon-home-variant"></md-icon>
                                </md-button>
                                <div class="info" flex>
                                    <div class="title">
                                        {{org.name}}
                                    </div>
                                    <div ng-if="org.address.city">
                                        <span>{{org.address.city}}, </span>
                                        <span>{{org.address.street}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / ORGS LIST -->

                </md-content>
                <!-- / ORGS LIST pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARDb-->

    </div>
    <!-- / CENTER -->

</div>
