<!-- TODO LIST ITEMS -->
<div class="groups-items">
    <div class="groups-item" md-ink-rippleX layout="row" layout-align="start center"
         ng-repeat="message in vm.messages | filter:{$$visible: true} | orderBy:vm.messageOrder:vm.messageOrderDescending | limitTo:50 track by $index"
         ng-class="[message.$$anim, {'md-amber-100-bg':message.alert, 'md-background-bg': !message.alert}]">
        <div layout="row" layout-align="start center" flex>
            <div>
                <img class="avatar md-whiteframe-2dp" ng-if="message.group.avatar" alt="{{message.group.name}}" ng-src="{{message.group.avatar}}" />
                <div class="avatar md-accent-bg md-whiteframe-2dp" ng-if="!message.group.avatar">
                    {{message.group.name.substr(0,2)}}
                </div>
            </div>
            <div class="info" flex>
                <div class="font-size-12">
                    {{message.group.category | mapEnt:MS.group_categories}}, {{message.group.name}}
                </div>
                <div class="title text-truncate">
                    {{message.subject}}
                </div>

                <div class="padding-vertical-10" ng-if="message.scheduleDate">
                    <span class="text-boxed no-margin">
                        <i class="icon-clock s12"></i>
                        {{message.scheduleDate |  amDateFormat:'dddd, MMM DD YYYY, hh:mm'}}
                    </span>
                </div>
                <div ng-bind-html="message.message"></div>
                <!--<div class="text-truncate">{{message.message | htmlToPlaintext | limitTo:150}}</div>-->
            </div>
            <div class="buttons" layout="row" layout-align="start center">
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.messageCount == 0" class="text-center padding-vertical-60 secondary-text font-size-22">
    {{'No Matching Messages Found' | translate}}
</div>
<!-- / TODO LIST ITEMS -->