

.order-dialog {

    .details-container{
        font-size:13px;
        > .details-row{
            padding:5px 0;
            .col-value{
                font-weight:500;
            }
        }

    }
    .font-600{
        font-weight:500;
    }
    .summary-box{
        border-bottom: 3px double #eee;

        .summary-offerbox-sub{
        }
        .summary-offerbox-sub .group-title{
            font-size:17px;
            padding:8px 0;
        }
        .summary-offerbox-sub .item-title{
            font-size:16px;
        }
        .summary-offerbox-sub .hbox.with-border{

        }

    }
    .summary-offerbox{
	    position:relative;
        height:auto;
        background:#fff;
        margin-bottom:0;
        border-top: 1px dotted #eee;
        color:#343e56;
	    position:relative;
        -webkit-transition: all 0.2s ease-in-out 0.5s;
        transition: all 0.2s ease-in-out 0.5s;
    }
    .summary-offerbox.active {
	    background-color:#cbeaff;

    }

    .cs-summary-table.table > tbody > tr > td, .cs-summary-table.table > tfoot > tr > td{
        table-layout:fixed;
	    border-top:0px dotted #eee;
    }



    .tabled{
        .table{
            font-size:13px;
            margin-bottom:0;
            td, th{
                padding:12px 8px;
            }
            th{
                border-bottom-width:1px;
            }
            tbody{
                > tr{
                    > th{width:120px;}
                }
            }
        }
    }

    .profile-box {
        margin-bottom: 16px;
        header {
            padding: 12px 10px;
            .title {
                font-size: 17px;
            }
            .more {
                cursor: pointer;
            }
        }

        .content {
            font-size:14px;
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {
            .info-line {
                margin-bottom: 24px;
                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }
                .info {
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
