
<md-dialog class="order-dialog md-background-bg md-hue-2" aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    {{'TD.REVIEW_YOUR_ORDER' | translate}}:
                    <span class="font-size-16">
                        <span>{{vm.$storage.site.name}} / {{vm.order.number}}</span>
                    </span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div class="white-bg">
            <md-tabs md-border-bottom>
                <md-tab label="{{'TD.GENERAL_DETAILS' | translate}}" md-on-select="goto('od_menu_ge')" name="od_menu_ge">
                    
                </md-tab>
                <md-tab label="{{'TD.TOTAL-TO-PAY' | translate}}" md-on-select="goto('od_menu_ttp')" name="od_menu_ttp">
                    
                </md-tab>
                <md-tab label="{{'TD.PAYMENT_INFO' | translate}}" ng-if="vm.order.payments.length" md-on-select="goto('od_menu_pi')" name="od_menu_pi">
                    
                </md-tab>
                <md-tab label="{{'TD.FAILED_PAYMENTS' | translate}}" ng-if="vm.order.failedPayments.length" md-on-select="goto('od_menu_pf')" name="od_menu_pf">
                    
                </md-tab>
                <md-tab label="{{'TD.REVIEW_YOUR_ORDER' | translate}}" md-on-select="goto('od_menu_oi')" name="od_menu_oi">
                    
                </md-tab>
            </md-tabs>
        </div>
        <md-dialog-content id="od-dialog-content" du-scroll-container style="max-width:600px;" class="padding-15">
            <!-- GENERAL -->
            <div id="od_menu_ge" ng-include="'app/main/apps/deliveries/dialogs/order/blocks/block_order_details.html'"></div>
            <!-- / GENERAL -->
            <!-- PAYMEBT SUMMARY -->
            <div id="od_menu_ttp" ng-include="'app/main/apps/deliveries/dialogs/order/blocks/block_order_total.html'"></div>
            <!-- / PAYMEBT SUMMARY -->
            <!-- PAYMENTS -->
            <div id="od_menu_pi" ng-if="vm.order.payments.length" ng-include="'app/main/apps/deliveries/dialogs/order/blocks/block_order_payments.html'"></div>
            <!-- / PAYMENTS -->
            <!-- PAYMENTS -->
            <div id="od_menu_pf" ng-if="vm.order.failedPayments.length" ng-include="'app/main/apps/deliveries/dialogs/order/blocks/block_order_payments_failed.html'"></div>
            <!-- / PAYMENTS -->
            <!-- ITEMS -->
            <div id="od_menu_oi" ng-include="'app/main/apps/deliveries/dialogs/order/blocks/block_order_items.html'"></div>
            <!-- / ITEMS -->
        </md-dialog-content>
    </form>
</md-dialog>