


<div class="profile-box info-box  border white-bg" layout="column">
    <header class="border-bottom">
        <div class="title" translate="TD.REVIEW_YOUR_ORDER"></div>
    </header>

    <div class="summary-box _ngr _ngr3" ng-repeat="diner in vm.order.diners">
        <div class="md-accent-fg padding-10 font-size-14 text-highlight2 font-600">
            <span>
                {{diner.tags.name || ('TD.DINER' | translate) + " " + ($index + 1)}}
            </span>
            <a class="pull-right flip" ng-click="diner.$$colapse = !diner.$$colapse">
                <i class="m-far-xs" ng-class="{'tabit-angle-up':!diner.$$colapse, 'tabit-angle-down':diner.$$colapse}"></i>
            </a>
        </div>
        <div uib-collapse="diner.$$colapse">
            <div class="summary-offerbox _ngr _ngr3"
                 ng-repeat="offer in vm.order.orderedOffers | filter:{diner:diner._id}:true">

                <div class="padding-10">
                    <div class="summary-offertitle font-size-14 font-600" ng-class="{'text-danger':offer.$$isRefund}">
                        <div class="pull-right flip">{{offer.amount | amount}}</div>
                        {{offer.name}}
                    </div>
                    <div class="font-size-12 mt-5" ng-if="!offer.$$hideItems">
                        <table class="cs-summary-table">
                            <tr class="summary-offerbox-sub" ng-repeat="item in offer.$$orderedItems">
                                <td class="v-top font-600" style="padding:0 0 0px 0; white-space:nowrap">
                                    <div>
                                        {{item.name}}
                                        <div class="inline m-near-xs" ng-class="{'text-l-t':item.onTheHouse}" ng-if="item.amount && item.amount > 0">+{{item.amount | amount}}</div>
                                    </div>
                                </td>
                                <td class="v-top" style="width:100%; padding:0 8px 0px 8px;">
                                    <div ng-if="item.onTheHouse" class="text-highlight">
                                        <i class="tabit-gift"></i>
                                        {{item.onTheHouse.reason.name}}
                                    </div>
                                    <div ng-if="item.$$summary.modWith">{{item.$$summary.modWith}}</div>
                                    <div ng-if="item.$$summary.modWithout" ng-class="{'m-t-xs':item.$$summary.modWith}">
                                        <span class="font-600">{{'TD.WITHOUT' | translate}}: </span>
                                        {{item.$$summary.modWithout}}
                                    </div>
                                    <div ng-if="item.note" class="text-highlight2 font-bold">{{item.note}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>
            <div class="hbox summary-offerbox _ngr _ngr3"
                 ng-repeat="item in vm.order.orderedItems | filter:{diner:diner._id}:true"
                 ng-if="item.cancellation">

                <div class="col col-content">
                    <div class="summary-offertitle font-600 text-danger">
                        <div class="pull-right flip text-l-t">{{item.amount | amount}}</div>
                        <i class="tabit-ban"></i>
                        {{item.name}}
                        <div class="inline m-near-xs text-xs lter">
                            {{item.cancellation.reason.name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

        
