


<div class="profile-box info-box tabled box-shadow-small white-bg" layout="column">
    <header>
        <div class="title" translate="TD.GENERAL_DETAILS"></div>
    </header>
    <div class="">
        <table class="table">

            <tr>
                <th>{{'TD.CREATED_TIME' | translate}}:</th>
                <td>{{vm.order.created | date:'HH:mm'}} (<span am-time-ago='vm.order.created'></span>)</td>
            </tr>
            <tr>
                <th>{{'TD.STATUS' | translate}}:</th>
                <td><!--<i class="{{vm.order.$$stat.icon}}"></i>--> {{vm.order.$$stat.text}}</td>
            </tr>
            <tr>
                <th>{{'TD.SITE' | translate}}:</th>
                <td>{{vm.$storage.site.name}}</td>
            </tr>
            <tr>
                <th>{{'TD.ORDER_NO' | translate}}:</th>
                <td>{{vm.order.number}}</td>
            </tr>
            <tr>
                <th>{{'TD.TYPE' | translate}}:</th>
                <td>{{vm.TCS.order_typesMap[vm.order._type].text}}</td>
            </tr>
            <tr ng-if="vm.order.$$owner">
                <th>{{'TD.ORDER_OWNER' | translate}}:</th>
                <td>{{vm.order.$$owner.name}}</td>
            </tr>
            <tr ng-if="vm.order.$$courier">
                <th>{{'TD.ORDER_COURIER' | translate}}:</th>
                <td>{{vm.order.$$courier.name}}</td>
            </tr>
            <tr ng-if="vm.order.externalSource.name">
                <th>{{'TD.SOURCE' | translate}}:</th>
                <td>{{vm.order.externalSource.name}}</td>
            </tr>
            <tr ng-if="!vm.order.externalSource.name">
                <th>{{'TD.SOURCE' | translate}}:</th>
                <td>{{vm.order.source}}</td>
            </tr>
            <tr>
                <th>{{'TD.NUMBER_OF_DINERS' | translate}}:</th>
                <td>{{vm.order.orderer.dinerCount}}</td>
            </tr>
            <tr>
                <th>{{'TD.ORDER_REMARKS' | translate}}:</th>
                <td>{{vm.order.orderTags[0]}}</td>
            </tr>

            <!--<tr><td colspan="2"></td></tr>-->
            

            <tr>
                <th>{{'TD.CUSTOMER_NAME' | translate}}:</th>
                <td>{{vm.order.orderer.name}}</td>
            </tr>
            <tr>
                <th>{{'TD.CELL' | translate}}:</th>
                <td><span class="inline ltr">{{vm.order.orderer.phone | tel}}</span></td>
            </tr>
            <tr ng-if="vm.order._type == 'delivery'">
                <th>{{'TD.ADDRESS' | translate}}:</th>
                <td>
                    {{vm.order.orderer.deliveryAddress.formatted_address}},
                    <div>
                        <span class="inline" ng-if="vm.order.orderer.deliveryAddress.apartment">
                            {{'TD.APPARTMENT' | translate}}:{{vm.order.orderer.deliveryAddress.apartment}}
                        </span>
                        <span class="inline" ng-if="vm.order.orderer.deliveryAddress.floor">
                            , {{'TD.FLOOR' | translate}}:{{vm.order.orderer.deliveryAddress.floor}}
                        </span>
                        <span class="inline" ng-if="vm.order.orderer.deliveryAddress.entrance">
                            , {{'TD.ENTRANCE' | translate}}:{{vm.order.orderer.deliveryAddress.entrance}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr ng-if="vm.order.orderer.email">
                <th>{{'EMAIL' | translate}}:</th>
                <td>{{vm.order.orderer.email}}</td>
            </tr>          

            <tr ng-if="vm.order.deliveryInfo.toBePreparedOn">
                <th>{{'TD.TOBE_PREPARED_ON' | translate}}:</th>
                <td>{{vm.order.deliveryInfo.toBePreparedOn | date:'HH:mm'}}</td>
            </tr>

            <tr ng-if="vm.order.deliveryInfo.toBeSuppliedOn">
                <th>{{'TD.TOBE_SUPPLIED_ON' | translate}}:</th>
                <td>{{vm.order.deliveryInfo.toBeSuppliedOn | date:'HH:mm'}}</td>
            </tr>

        </table>
        



    </div>
</div>

