

<div class="profile-box info-box work md-whiteframe-1dp" layout="column">
    <header class="md-warn-bg">
        <div class="title" translate="TD.FAILED_PAYMENTS"></div>
    </header>
    <div class="content">

        <table class="table">
            <thead>
                <tr>
                    <th>{{'TD.ACCOUNT' | translate}}</th>
                    <th>{{'TD.PAYMENT_DETAILS' | translate}}</th>
                    <th>{{'TD.AMOUNT' | translate}}</th>
                    <th ng-if="$storage.hasFaledTips">{{'TIP' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in vm.order.failedPayments" class="bg-invalid-light">
                    <td class="no-wrap">{{payment.paymentRequest.accountName}}</td>
                    <td style="width:100%">
                        <span ng-if="payment.paymentRequest.creditCardBrand">
                            {{payment.paymentRequest.creditCardBrand}},
                        </span>
                        <span ng-if="payment.paymentRequest.last4">
                            {{'TD.LAST4' | translate}}: {{payment.paymentRequest.last4}},
                        </span>
                        <span ng-if="payment.paymentRequest.expMonth">
                            {{'TD.CARD_EXPIRATION' | translate}}: {{payment.paymentRequest.expMonth + '-' + payment.paymentRequest.expYear}}
                        </span>
                        <!--<div class="text-danger text-xs">
                            {{payment.originalError.message}}
                        </div>-->
                    </td>
                    <td class="text-right no-wrap text-danger font-600">{{payment.paymentRequest.amount | amount}}</td>
                    <td ng-if="$storage.hasFaledTips" class="text-right no-wrap text-danger font-600">{{payment.$$tip | amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

