

<div class="profile-box info-box tabled box-shadow-small white-bg" layout="column">
    <header class="border-bottom">
        <div class="title" translate="TD.PAYMENT_INFO"></div>
    </header>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th class="b-far" colspan="2">{{'TD.TYPE' | translate}}</th>
                    <th>{{'TD.ACCOUNT' | translate}}</th>
                    <th>{{'TD.PAYMENT_DETAILS' | translate}}</th>
                    <th>{{'TD.AMOUNT' | translate}}</th>
                    <th ng-if="$storage.hasPaymentsTips">{{'TIP' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="payment in vm.order.payments | filter:{$$visible:true}">
                    <td class="no-wrap font-600 b-far" colspan="2" ng-class="{'md-warn-fg':payment.$$isRefund}">
                        {{(payment.$$isRefund ? 'TD.ORDER_PAYMENT_TYPE.REFUND' : 'TD.ORDER_PAYMENT_TYPE.PAYMENT') | translate}}
                    </td>
                    <td class="no-wrap">{{payment.accountName}}</td>
                    <td style="width:100%">{{payment.$$details}}</td>
                    <td class="text-right no-wrap font-600" ng-class="{'md-warn-fg':payment.$$isRefund}">{{payment.$amount | amount}}<span ng-if="payment.$$isRefund">-</span></td>
                    <td ng-if="$storage.hasPaymentsTips" class="text-right no-wrap font-600">{{payment.$$tip | amount}}</td>
                </tr>
                <tr ng-repeat-end ng-if="payment.$$refund">
                    <td class="md-primary-bg" style="padding:2px !important">&nbsp;</td>
                    <td class="no-wrap font-600 b-far md-warn-fg">
                        {{'TD.ORDER_PAYMENT_TYPE.REFUND' | translate}}
                    </td>
                    <td class="no-wrap">{{payment.$$refund.accountName}}</td>
                    <td style="width:100%">{{payment.$$refund.$$details}}</td>
                    <td class="text-right no-wrap font-600 md-warn-fg">{{payment.$$refund.$amount | amount}}-</td>
                    <td ng-if="$storage.hasPaymentsTips"></td>
                </tr>
            </tbody>
        </table>
        <!-- / PAYMENTS -->
    </div>
</div>

