


<md-dialog class="reconcile-dialog md-background-bg md-hue-2">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                {{'TD.RECONCILE_DELIVERY' | translate}}:
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <section layout="row" flex="">
        <md-content class="full-width" flex>
            <md-tabs md-swipe-content="true" style="height:100%; min-height:100%" md-border-bottom>
                <!-- NOT RECONCILED -->
                <md-tab label="{{'TD.PENDING_ORDERS' | translate}}" flex layout="column">
                    <md-content class="padding-10 md-background-bg md-hue-2" flex layout-fill>
                        <!-- TOTALS -->
                        <div mg-if="!vm.loading" class="pulse-in">
                            <div class="hbox md-amber-100-bg border margin-bottom-10">
                                <div class="col text-center padding-5 text-semibold v-top" ng-repeat="value in vm.ui.totalOpenArr" ng-class="{'b-near':$index > 0}">
                                    <div class="font-size-12">{{value.key == 'tips' ? ('TD.GRATUITY' | translate) : value.key}}</div>
                                    <div><span class="inline">{{(value.v / 100) | money}}</span>/<span class="inline">{{value.c}}</span></div>
                                </div>
                            </div>
                        </div>
                        <!-- / TOTALS -->
                        <!-- ORDERS LIST -->
                        <div ng-include="'delivery_reconcile_card.html'"
                             ng-repeat="order in vm.orders | filter:{$$mayReconcile:true}">
                        </div>
                        <!-- / ORDERS LIST-->
                    </md-content>
                </md-tab>
                <!-- / NOT RECONCILED -->
                <md-tab label="{{'TD.RECONCILED_ORDERS' | translate}}" flex layout="column">
                    <md-content class="padding-10 md-background-bg md-hue-2" flex layout-fill>
                        <!-- TOTALS -->
                        <div>
                            <div class="hbox md-amber-100-bg border margin-bottom-10">
                                <div class="col text-center padding-5 text-semibold v-top" ng-repeat="value in vm.ui.totalReconciledArr" ng-class="{'b-near':$index > 0}">
                                    <div class="font-size-12">{{value.key == 'tips' ? ('TD.GRATUITY' | translate) : value.key}}</div>
                                    <div><span class="inline">{{(value.v / 100) | money}}</span>/<span class="inline">{{value.c}}</span></div>
                                </div>
                            </div>
                        </div>
                        <!-- / TOTALS -->
                        <!-- ORDERS LIST -->
                        <div ng-include="'delivery_reconcile_card.html'"
                             ng-repeat="order in vm.orders | filter:{reconciled:true}">
                        </div>
                        <!-- / ORDERS LIST-->
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>

</md-dialog>

<script type="text/ng-template" id="delivery_reconcile_totals.html">

</script>

<script type="text/ng-template" id="delivery_reconcile_card.html">
    <div class="hbox white-bg border margin-bottom-10 _ngr _ngr2">
        <div class="col b-far padding-10">
            <div layout="row" layout-align="start center">
                <div>{{order.number}}</div>
                <div flex>{{order.orderer.name}}</div>
                <div><span class="inline ltr">{{order.orderer.phone | tel}}</span></div>
            </div>
            <div class="text-semibold padding-vertical-5">
                {{order.$$address}}
            </div>
            <div>
                {{order.created | date:'HH:mm'}}, <span class="inline" am-time-ago='order.created'></span>
            </div>
        </div>
        <div class="col v-bottom" style="width:120px;" >

            <table style="margin:0 auto 0 0; width:100%; table-layout:fixed">
                <tr ng-repeat="(key, value) in order.paymentsCalc">
                    <td style="padding:4px;"><div class="text-truncate">{{key}}:</div></td>
                    <td style="padding:4px;" class="text-semibold text-far" ng-class="{'md-warn-fg ltr':value.v < 0 }">{{(value.v/ 100) | money}}</td>
                </tr>
                <tr ng-if="order.tipsTotal">
                    <td style="padding:4px;" class="bt">{{'TD.GRATUITY' | translate}}</td>
                    <td style="padding:4px;" class="bt text-semibold text-far" ng-class="{'md-warn-fg ltr':order.tipsTotal < 0 }">{{(order.tipsTotal / 100) | money}}</td>
                </tr>
                <tr>
                    <td style="padding:4px;" class="bt"></td>
                    <td style="padding:4px;" class="bt text-semibold text-far" ng-class="{'md-warn-fg ltr':order.amount < 0 }">{{(order.amount / 100) | money}}</td>
                </tr>
            </table>
        </div>
    </div>
</script>



