<!-- TOOLBAR -->
<div class="toolbar" layout="row" layout-align="start center">
    <div class="page-info text-truncate" flex>
        <span  ng-repeat="crumb in vm.crumbs">{{crumb | translate}} <span class="inline padding-horizontal-5"> / </span></span>
        <span translate="Found N Messages" translate-values="{count:(vm.threads | filter: vm.search | filter: global.search).length}"></span>
    </div>

    <div layout="row" layout-align="start center">
        <!-- SETTINGS MENU -->
        <md-menu class="settings-menu">
            <md-button class="md-icon-button"
                       ng-click="$mdMenu.open($event)"
                       aria-label="Settings"
                       translate translate-attr-aria-label="MAIL.SETTINGS">
                <md-icon md-font-icon="icon-cog"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="vm.changeView('classic')">
                        <md-icon md-font-icon="icon-checkbox-blank-outline"
                                 ng-if="vm.currentView !== 'classic'"></md-icon>
                        <md-icon md-font-icon="icon-checkbox-marked" class="md-accent"
                                 ng-if="vm.currentView === 'classic'"></md-icon>
                        <span translate="MAIL.CLASSIC_VIEW">Classic View</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item hide-xs>
                    <md-button ng-click="vm.changeView('outlook')">
                        <md-icon md-font-icon="icon-checkbox-blank-outline"
                                 ng-if="vm.currentView !== 'outlook'"></md-icon>
                        <md-icon md-font-icon="icon-checkbox-marked" class="md-accent"
                                 ng-if="vm.currentView === 'outlook'"></md-icon>
                        <span translate="MAIL.OUTLOOK_VIEW">Outlook View</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <!-- / SETTINGS MENU -->
    </div>
</div>
<!-- / TOOLBAR -->
<!-- CONTENT WRAPPER -->
<div class="content-wrapper" layout="row" flex>
    <!-- THREAD LIST -->
    <div class="content thread-list ms-scroll-y"
         ng-include="'app/main/apps/mail/views/outlook/list/list.html'" ms-scroll flex="50">
    </div>
    <!-- / THREAD LIST -->
    <!-- THREAD DETAIL -->
    <div class="content thread-detail ms-scroll-y"
         ng-include="'app/main/apps/mail/views/outlook/detail/detail.html'" ms-scroll layout="column" flex="50">
    </div>
    <!-- / THREAD DETAIL -->
</div>
<!-- / CONTENT WRAPPER -->