.app-groups {
    // Single scroll
    &.single-scroll {
        .groups-list-pane {
            overflow: hidden;
        }
    }

    .groups-list-pane {
        .groups-items {
            overflow-x: hidden;
        }
    }

    ._rtl & {
        .groups-list-pane {
            .groups-items {

            }
        }
    }
}

.groups-item {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;
    cursor: pointer;

    .tags {
        font-size: 12px;
        .tag {
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }

    &.selected {
        background: #FFF8E1;
    }

    .info {
        margin: 0 16px 0 8px;
        .title {
            font-size: 15px;
            font-weight: 500;
        }
        .notes {
            margin-top: 4px;
        }
    }

    .buttons {
        .is-starred {
            margin: 0 0 0 16px;
        }
        .is-important {
            margin: 0;
        }
    }

    ._rtl &{

        .handle {
            left: auto;
            right: 0;
        }

        .tags {
            .tag {
                margin: 8px 0 0 4px;
                .tag-color {
                    margin-right: 0;
                    margin-left: 8px;
                }
            }
        }
        .info {
            margin: 0 8px 0 16px;
        }
        .buttons {
            .is-starred {
                margin: 0 16px 0 0;
            }
        }
    }
}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {
    .app-groups {
        .groups-list-pane {
            .groups-items {
                .groups-item {

                }
            }
        }
    }

    ._rtl {
        .app-groups {
            .groups-list-pane {

            }
        }
    }
}
