#message-groups-group {

    .header {
        height: 120px;
        min-height: 120px;
        max-height: 120px;

        .goto-groups-button {
            /*margin-right: 16px;*/
        }

        .group-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            /*margin-right: 16px;*/
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: 100%;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    md-tabs > md-tabs-content-wrapper > md-tab-content {
        padding: 14px;
    }

    .thread-row {
        background: #fff;
        position: relative;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        cursor: pointer;

        .info {
            overflow: hidden;
            width: 0;
            margin: 0 16px;

            .name {
                font-size: 15px;
                font-weight: 500;
                padding-bottom: 8px;

                .avatar {
                    min-width: 32px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                }

                .has-attachment {
                    margin-left: 8px;
                    transform: rotate(90deg);
                }
            }

            .subject {
            }

            .message {
                position: relative;

                .labels {
                    position: absolute;
                    background: #FAFAFA;
                    top: 0;
                    right: 0;
                    padding-left: 6px;

                    .label {
                        display: inline-block;
                        font-size: 11px;
                        padding: 0 5px;
                        margin-left: 6px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .time {
            margin: 0 8px 6px 8px;
        }
    }

    .group-detail-form-container {
        #group-image-uploader {
            position: relative;

            &.dropping {

                .drop-text {
                    display: flex;
                }
            }

            .drop-text {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 16px;
                text-align: center;
                border: 2px dashed rgba(0, 0, 0, 0.12);
                background: #FFFFFF;
                font-size: 20px;
                z-index: 100;
            }

            .upload-button {
                margin-bottom: 16px;
            }

            .image-zoom-area {
                border: 2px solid rgba(0, 0, 0, 0.12);
                width: 500px;
            }

            .group-image {
                position: relative;
                width: 100px;
                min-height: 100px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                margin: 8px;

                &.uploading {

                    .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.87);
                    }
                }

                .media {
                    cursor: pointer;
                    max-height: 100%;
                }
            }
        }
    }
}

.table-list {
    position: relative;
    padding-bottom: 0;

    .md-subheader {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);

        ._md-subheader-inner {
            padding: 16px;
        }

        .table-list-count {
            padding-left: 4px;
        }

        .list-title {
            margin-right: 4px;
        }

    }
    .table-list-item {
        background: white;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        &:last-of-type {
            margin-bottom: 24px;
        }

    }
}



.table-list-no-results {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}


@media only screen and (max-width: $layout-breakpoint-sm) {
    #message-groups-group {
        md-tabs > md-tabs-content-wrapper > md-tab-content {
            padding: 4px 10px 4px 4px;
        }

        &.page-layout.simple.tabbed > .content > md-tabs > md-tabs-wrapper{
            padding:0;
        }
    }
}
