<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center" ng-click="vm.goHome()">
        <span class="logo-image md-accent-bg">
            <md-icon md-svg-src="assets/images/logos/logo_square.svg" style="width:16px; height:16px;" aria-label="Logo"></md-icon>
        </span>
        <span class="logo-text">{{vm.auth.organization && vm.auth.organization.name || app.name}}</span>
    </div>
    <md-icon class="fold-toggle s18" md-font-icon="icon-pin-off" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<div class="scrollable" ms-scroll="vm.msScrollOptions">
    <ms-navigation folded="vm.folded" ng-ifX="!vm.auth.isSingleOrg"></ms-navigation>
</div>


