<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center" ng-click="vm.goHome()">
        <span class="logo-image md-accent-bg">
            <md-icon md-svg-src="assets/images/logos/logo_square.svg" style="width:16px; height:16px;" aria-label="Logo"></md-icon>
        </span>
        <span class="logo-text">{{app.name | translate}}</span>
    </div>
    <md-icon class="fold-toggle s18" md-font-icon="icon-pin-off" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<div class="scrollable" ms-scroll="vm.msScrollOptions">
    <div class="ms-navigation border-bottom">
        <ul ng-repeat="menu in MS.menu">
            <li class="ms-navigation-node group has-children">
                <div class="ms-navigation-item" layout="row">
                    <div class="ms-navigation-button">
                        <span class="title" translate="{{menu.name}}" flex></span>
                    </div>
                </div>
                <ul>
                    <li class="ms-navigation-node" ng-repeat="node in menu.modules">
                        <div class="ms-navigation-item" layout="row">
                            <a class="ms-navigation-button"  ui-sref="{{node.state}}" ui-sref-active="active md-accent-bg">
                                <i class="icon s16 {{node.icon}}" ng-if="node.icon"></i>
                                <span class="title" translate="{{node.name}}" flex>{{node.name}}</span>
                                <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge && vm.MSS[node.badge.field]">{{vm.MSS[node.badge.field]}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ms-navigation folded="vm.folded"></ms-navigation>

    

</div>


<!--<ul>
    <li ng-repeat="node in vm.navigation" ms-navigation-node="node"
        ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}"
        ng-include="'navigation-nested.html'"></li>
</ul>
<script type="text/ng-template" id="navigation-nested.html">
    <div ms-navigation-item layout="row" ng-if="!vm.isHidden()">
        <div class="ms-navigation-button" ng-if="!node.uisref && node.title">
            <i class="icon s16 {{node.icon}}" ng-if="node.icon"></i>
            <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
            <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
            <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
        </div>
        <a class="ms-navigation-button" ui-sref="{{node.uisref}}" ui-sref-active="active md-accent-bg"
           ng-if="node.uisref && node.title">
            <i class="icon s16 {{node.icon}}" ng-if="node.icon"></i>
            <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
            <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
            <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
        </a>
    </div>
    <ul ng-if="vm.hasChildren && !vm.isHidden()">
        <li ng-repeat="node in node.children" ms-navigation-node="node"
            ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}"
            ng-include="'navigation-nested.html'"></li>
    </ul>
</script>-->


