<!-- TODO LIST ITEMS -->
<div class="padding-10 padding-top-20">

    <div layout="row" flex="100" layout-wrap>
        <ms-widget class="group-card animate-repeat" flex="100" flex-gt-sm="50" 
                   ng-repeat="message in vm.messages | filter:{$$visible: true} | orderBy:vm.messageOrder:vm.messageOrderDescending | limitTo:50 track by message.id">



            <ms-widget-front class="p-15" layout="column"
                             flex layout-fill layout-align="space-between center"
                             ng-class="[message.$$anim, {'md-amber-100-bg':message.alert, 'md-background-bg': !message.alert}]">

                <div class="full-width" layout="row" layout-align="start center">
                    <img class="avatar" ng-if="message.group.avatar" alt="{{message.group.name}}" ng-src="{{message.group.avatar}}" />
                    <div class="avatar" ng-if="!message.group.avatar" ms-random-class="vm.colors">
                        {{message.group.name.substr(0,2)}}
                    </div>

                    <div flex>
                        <div class="font-size-12">{{message.group.category | mapEnt:MS.group_categories}}, {{message.group.name}}</div>
                        <div class="text-truncate h3 text-semibold">{{message.subject}}</div>
                    </div>
                </div>

                <div class="p-10">
                    <div class="text-boxed">
                        <i class="icon-clock s12"></i>
                        {{message.scheduleDate |  amDateFormat:'dddd, MMM DD YYYY, hh:mm'}}
                    </div>
                </div>

                <div ng-bind-html="message.message" class="mb-10 full-width" style="max-heightX:140px; overflow:hidden" flex></div>

                <div layout="row" layout-align="start center" class="full-width">
                    <div class="flex secondary-text">{{message.created |  amDateFormat:'dddd, MMM DD YYYY, hh:mm'}}</div>
                    <md-button class="md-accent md-background" ng-click="vm.viewGroupMessages(message.group)">
                        <span translate>View group's messages</span>
                    </md-button>
                </div>

            </ms-widget-front>
        </ms-widget>
    </div>

    <!-- / MS-CARD -->


</div>
<div ng-if="vm.messageCount == 0" class="text-center padding-vertical-60 secondary-text font-size-22">
    {{'No Matching Messages Found' | translate}}
</div>
<!-- / TODO LIST ITEMS -->