<!-- TODO LIST ITEMS -->
<div class="group-cards-container" layout="row" flex="100" layout-wrap>

    <!--<div layout="row" flex="100" layout-wrap>-->
        <div class="group-card animate-repeatX" flex="100" flex-gt-sm="50" 
                   ng-repeat="message in vm.messages | filter:{$$visible: true} | orderBy:vm.messageOrder:vm.messageOrderDescending | limitTo:50 track by message.id">



            <div class="group-card-content" layout="column"
                             flex layout-fill layout-align="space-between center"
                             ng-class="[message.$$anim, {'md-amber-100-bg':message.alert, 'md-background-bg': !message.alert}]">

                <div class="full-width" layout="row" layout-align="start center">
                    <img class="avatar" ng-if="message.group.avatar" alt="{{message.group.name}}" ng-src="{{message.group.avatar}}" />
                    <div class="avatar" ng-if="!message.group.avatar" ms-random-class="vm.colors">
                        {{message.group.name.substr(0,2)}}
                    </div>

                    <div flex>
                        <div class="font-size-12">{{message.group.category | mapEnt:MS.group_categories}}, {{message.group.name}}</div>
                        <div class="text-truncate h3 text-semibold">{{message.subject}}</div>
                    </div>
                </div>

                <div class="p-10" ng-if="message.scheduled">
                    <div class="text-boxed">
                        <i class="icon-clock s12"></i>
                        {{message.scheduleDate |  amDateFormat:'dddd, DD MMM YYYY, hh:mm'}}
                    </div>
                </div>

                <div class="text-far font-size-10 full-width">
                    {{message.created |  amDateFormat:'dddd, DD MMM YYYY, hh:mm'}}
                </div>
                <div ng-bind-html="message.message" class="mb-10" flex></div>

                <div layout="row" layout-align="start center" class="full-width">
                    <div class="flex secondary-text"></div>
                    <md-button class="md-raised md-accent md-background" ng-click="vm.handleGroupSubscription(message.$event)">
                        <span>{{'Subscribe to group' | translate}}</span>
                    </md-button>

                </div>

            </div>
        </div>
    

    <!-- / MS-CARD -->


</div>
<div ng-if="vm.messageCount == 0" class="text-center padding-vertical-60 secondary-text font-size-22">
    {{'No Matching Messages Found' | translate}}
</div>
<!-- / TODO LIST ITEMS -->