/*----------------------------------------------------------------*/
/*  Helpers
/*----------------------------------------------------------------*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-radius {
    border-radius: 0;
}

.no-shadow {
    box-shadow: none !important;
}

.no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.ltr {
    direction: ltr;
}

.inline {
    display: inline-block;
}

.mui-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

md-badge {
    display: inline-block;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 0 5px;
}

.divider-vertical {
    background: rgba(0, 0, 0, 0.12);
    height: 24px;
    width: 1px;
    margin: 0 8px;
}

.hbox {
    display: table;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;

    .col {
        display: table-cell;
        float: none;
        height: 100%;
        vertical-align: top;

        &.relative {
            position: relative;
        }
    }
}

.v-middle {
    vertical-align: middle !important;
}

.v-top {
    vertical-align: top !important;
}

.v-bottom {
    vertical-align: bottom !important;
}

.box-shadow-small {
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
}


// Soft hide (don't remove from DOM flow)
.hidden {
    visibility: hidden;
    opacity: 0;
}

[fill-width] {
    min-width: 100%;
}

[fill-height] {
    min-height: 100%;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

// Images in links
a {

    img {
        display: block;
        outline: none;
    }
}

// Responsive images
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: none;
}

// Scrollable
.scrollable {
    display: block;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.only-x {
        overflow-x: auto;
        overflow-y: hidden;
    }

    &.only-y {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Flex Scrollable (without display:block)
.flex-scrollable {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.only-x {
        overflow-x: auto;
        overflow-y: hidden;
    }

    &.only-y {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Background Icon
.background-image-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}



// Classic vertical align
.align-vertical {

    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }

    .align-vertical-top,
    .align-vertical-middle,
    .align-vertical-bottom {
        display: inline-block;
    }

    .align-vertical-top {
        vertical-align: top;
    }

    .align-vertical-middle {
        vertical-align: middle;
    }

    .align-vertical-bottom {
        vertical-align: bottom;
    }
}

.v-middle {
    vertical-align: middle;
}

// Padding helpers
// Multiples of 5, max:100
@for $i from 0 through 20 {

    .padding-#{$i * 5},
    .p-#{$i * 5} {
        padding: #{($i * 5) + 'px'};
    }

    .padding-top-#{$i * 5},
    .pt-#{$i * 5} {
        padding-top: #{($i * 5) + 'px'};
    }

    .padding-right-#{$i * 5},
    .pr-#{$i * 5} {
        padding-right: #{($i * 5) + 'px'};
    }

    .padding-bottom-#{$i * 5},
    .pb-#{$i * 5} {
        padding-bottom: #{($i * 5) + 'px'};
    }

    .padding-left-#{$i * 5},
    .pl-#{$i * 5} {
        padding-left: #{($i * 5) + 'px'};
    }

    .padding-horizontal-#{$i * 5},
    .ph-#{$i * 5} {
        padding-left: #{($i * 5) + 'px'};
        padding-right: #{($i * 5) + 'px'};
    }

    .padding-vertical-#{$i * 5},
    .pv-#{$i * 5} {
        padding-top: #{($i * 5) + 'px'};
        padding-bottom: #{($i * 5) + 'px'};
    }
}

// Multiples of 8, Max: 96, Excluding 0 and multiples of 5
@for $i from 1 through 12 {

    @if (($i * 8) % 5 != 0) {

        .padding-#{$i * 8},
        .p-#{$i * 8} {
            padding: #{($i * 8) + 'px'};
        }

        .padding-top-#{$i * 8},
        .pt-#{$i * 8} {
            padding-top: #{($i * 8) + 'px'};
        }

        .padding-right-#{$i * 8},
        .pr-#{$i * 8} {
            padding-right: #{($i * 8) + 'px'};
        }

        .padding-bottom-#{$i * 8},
        .pb-#{$i * 8} {
            padding-bottom: #{($i * 8) + 'px'};
        }

        .padding-left-#{$i * 8},
        .pl-#{$i * 8} {
            padding-left: #{($i * 8) + 'px'};
        }

        .padding-horizontal-#{$i * 8},
        .ph-#{$i * 8} {
            padding-left: #{($i * 8) + 'px'};
            padding-right: #{($i * 8) + 'px'};
        }

        .padding-vertical-#{$i * 8},
        .pv-#{$i * 8} {
            padding-top: #{($i * 8) + 'px'};
            padding-bottom: #{($i * 8) + 'px'};
        }
    }
}

// Margin helpers
// Multiples of 5, max:100
@for $i from 0 through 20 {

    .margin-#{$i * 5},
    .m-#{$i * 5} {
        margin: #{($i * 5) + 'px'};
    }

    .margin-top-#{$i * 5},
    .mt-#{$i * 5} {
        margin-top: #{($i * 5) + 'px'};
    }

    .margin-right-#{$i * 5},
    .mr-#{$i * 5} {
        margin-right: #{($i * 5) + 'px'};
    }

    .margin-bottom-#{$i * 5},
    .mb-#{$i * 5} {
        margin-bottom: #{($i * 5) + 'px'};
    }

    .margin-left-#{$i * 5},
    .ml-#{$i * 5} {
        margin-left: #{($i * 5) + 'px'};
    }

    .margin-horizontal-#{$i * 5},
    .mh-#{$i * 5} {
        margin-left: #{($i * 5) + 'px'};
        margin-right: #{($i * 5) + 'px'};
    }

    .margin-vertical-#{$i * 5},
    .mv-#{$i * 5} {
        margin-top: #{($i * 5) + 'px'};
        margin-bottom: #{($i * 5) + 'px'};
    }
}

// Multiples of 8, Max: 96, Excluding 0 and multiples of 5
@for $i from 1 through 12 {

    @if (($i * 8) % 5 != 0) {

        .margin-#{$i * 8},
        .m-#{$i * 8} {
            margin: #{($i * 8) + 'px'};
        }

        .margin-top-#{$i * 8},
        .mt-#{$i * 8} {
            margin-top: #{($i * 8) + 'px'};
        }

        .margin-right-#{$i * 8},
        ._ltr .m-far-#{$i * 8},
        ._rtl .m-near-#{$i * 8},
        .mr-#{$i * 8} {
            margin-right: #{($i * 8) + 'px'};
        }

        .margin-bottom-#{$i * 8},
        .mb-#{$i * 8} {
            margin-bottom: #{($i * 8) + 'px'};
        }

        .margin-left-#{$i * 8},
        ._ltr .m-near-#{$i * 8},
        ._rtl .m-far-#{$i * 8},
        .ml-#{$i * 8} {
            margin-left: #{($i * 8) + 'px'};
        }

        .margin-horizontal-#{$i * 8},
        .mh-#{$i * 8} {
            margin-left: #{($i * 8) + 'px'};
            margin-right: #{($i * 8) + 'px'};
        }

        .margin-vertical-#{$i * 8},
        .mv-#{$i * 8} {
            margin-top: #{($i * 8) + 'px'};
            margin-bottom: #{($i * 8) + 'px'};
        }
    }
}

// Height and width helpers
// Multiples of 5, Max: 500
@for $i from 0 through 100 {

    .height-#{$i * 5},
    .h-#{$i * 5} {
        height: #{($i * 5) + 'px'} !important;
        min-height: #{($i * 5) + 'px'} !important;
        max-height: #{($i * 5) + 'px'} !important;
    }

    .width-#{$i * 5},
    .w-#{$i * 5} {
        width: #{($i * 5) + 'px'} !important;
        min-width: #{($i * 5) + 'px'} !important;
        max-width: #{($i * 5) + 'px'} !important;
    }
}

// Height and width helpers
// Multiples of 8, Max: 800, Excluding 0 and multiples of 5
@for $i from 1 through 100 {

    @if (($i * 8) % 5 != 0) {

        .height-#{$i * 8},
        .h-#{$i * 8} {
            height: #{($i * 8) + 'px'} !important;
            min-height: #{($i * 8) + 'px'} !important;
            max-height: #{($i * 8) + 'px'} !important;
        }

        .width-#{$i * 8},
        .w-#{$i * 8} {
            width: #{($i * 8) + 'px'} !important;
            min-width: #{($i * 8) + 'px'} !important;
            max-width: #{($i * 8) + 'px'} !important;
        }
    }
}

// Border helpers
$border-style: 1px solid rgba(0, 0, 0, 0.12);

.border,
.b {
    border: $border-style;
}

.border-top,
.bt {
    border-top: $border-style;
}

.border-right,
.br {
    border-right: $border-style;
}

.border-bottom,
.bb {
    border-bottom: $border-style;
}

.border-left,
.bl {
    border-left: $border-style;
}

.border-horizontal,
.bh {
    border-left: $border-style;
    border-right: $border-style;
}

.border-vertical,
.bv {
    border-top: $border-style;
    border-bottom: $border-style;
}

.b-far {
    border-right: $border-style;
}

._ltr .b-far-none {
    border-right-width: 0 !important;
}

._rtl .b-far {
    border-right-width: 0;
    border-left: $border-style;
}

._rtl .b-far-none {
    border-left-width: 0 !important;
}


.b-near {
    border-left: $border-style;
}

._ltr .b-near-none {
    border-left-width: 0 !important;
}

._rtl .b-near {
    border-left-width: 0;
    border-right: $border-style;
}

._rtl .b-near-none {
    border-right-width: 0 !important;
}



// Border-radius helpers
@for $i from 1 through 12 {

    .brad-#{$i} {
        border-radius: #{$i + 'px'};
    }
}

.text-near {
    text-align: left;
}

.text-far {
    text-align: right;
}

.pull-near {
    float: left;
}

.pull-far {
    float: right;
}

.text-muted {
    opacity: 0.7;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline-block;
}

._rtl {
    .icon-chevron-left:before {
        content: "\e717";
    }

    .icon-chevron-right:before {
        content: "\e716";
    }

    .icon-arrow-right.flip:before {
        content: "\e641";
    }

    .icon-arrow-left.flip:before {
        content: "\e646";
    }

    .icon-flip {
        display: inline-block;
        transform: scaleX(-1);
    }

    .text-near {
        text-align: right;
    }

    .text-far {
        text-align: left;
    }

    .pull-near {
        float: right;
    }

    .pull-far {
        float: left;
    }
}

.ms-scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.dash-widget-button {
    box-shadow: $whiteframe-shadow-1dp;
    position: relative;
}

/*
LAYOUT HELPERS hgroup cards
*/

.group-cards-container {
    padding: 20px 10px 10px 10px;
    .group-cards-group{
        margin-bottom:20px;
    }
    .group-cards-header{
        padding:0 20px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.005em;
    }
    .group-card {
        padding: 12px;
        .group-card-content{
            padding:15px;
            border-radius:2px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
            .tags {
                font-size: 12px;
                margin-top: 10px;

                .tag {
                    border-radius: 2px;
                    margin: 8px 4px 0 0;
                    padding: 3px 8px;
                    background-color: rgba(0, 0, 0, 0.08);

                    .tag-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    ._rtl & {
        .group-cards-container {
            .group-card {
                .group-card-content{
                    .tags {
                        .tag {
                            margin: 8px 0 0 4px;

                            .tag-color {
                                margin-right: 0;
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $layout-breakpoint-xs) {

.group-cards-container {
    padding:0;

    .group-cards-group{
        margin-bottom:0;
    }
    .group-cards-header{
        padding:25px 20px 10px 0;
        border-bottom:1px solid rgba(0, 0, 0, 0.12);
    }

    .group-card{
        padding:0;
        .group-card-content{
            border-bottom:1px solid rgba(0, 0, 0, 0.12);
            box-shadow:none;
            border-radius:0;
        }
    }
}


}