/*----------------------------------------------------------------*/
/*  Page Layouts
/*----------------------------------------------------------------*/

// Page Layouts
$header-height: 200px;
$card-toolbar-height: 64px;
$card-header-height: $header-height - $card-toolbar-height;

$header-height-xs: 160px;
$card-header-height-sm: $header-height-xs - $card-toolbar-height;

$header-height-condensed: 96px;
$card-header-height-condensed: $header-height-condensed - $card-toolbar-height;
$header-height-xs-condensed: 80px;
$card-header-height-sm-condensed: $header-height-xs-condensed - $card-toolbar-height;


.page-layout {
    position: relative;
    overflow: hidden;

    .top-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        height: $header-height;
        background-image: url('../assets/images/backgrounds/header-bg.png');
        background-size: cover;
    }
    &.condensed{
        .top-bg{
            height: $header-height-condensed;
        }
    }
    md-backdrop {
        z-index: 50;
    }
    // Global header styles
    > .header {

        .breadcrumb {
            margin-bottom: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.54);

            md-icon {
                margin: 0;
            }

            .separator {
                margin: 0 8px;
            }
        }

        .title {
            font-size: 34px;
        }
    }
    // Carded layout
    &.carded {
        min-height: 100%;
        height: 100%;
        // Fullwidth
        &.fullwidth {
            // Single scroll
            &.single-scroll {
                height: auto;

                > .center {

                    .content-card {

                        .content {
                            overflow: hidden;
                        }
                    }
                }
            }
            // Center
            > .center {
                position: relative;
                z-index: 2;
                margin-left: 32px;
                margin-right: 32px;

                .header {
                    height: $card-header-height;
                    min-height: $card-header-height;
                    max-height: $card-header-height;
                    padding: 24px;

                    &.condensed{
                        padding:0px !important;
                        height: $card-header-height-condensed;
                        min-height: $card-header-height-condensed;
                        max-height: $card-header-height-condensed;
                    }

                }

                .content-card {
                    background: #FFFFFF;
                    box-shadow: $whiteframe-shadow-7dp;
                    overflow: hidden;

                    .toolbar {
                        padding: 8px 24px;
                        height: $card-toolbar-height;
                        min-height: $card-toolbar-height;
                        max-height: $card-toolbar-height;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    .content {
                        padding: 24px;
                        background: #FFFFFF;
                    }
                }
            }
        }
        // Left sidenav
        &.left-sidenav {
            // Single scroll
            &.single-scroll {
                height: auto;

                > .center {

                    .content-card {

                        .content {
                            overflow: hidden;
                        }
                    }
                }
            }
            // Sidenav
            > .sidenav {
                width: 240px;
                min-width: 240px;
                max-width: 240px;
                box-shadow: $whiteframe-shadow-7dp;
                z-index: 51;

                .header {
                    height: $header-height;
                    min-height: $header-height;
                    max-height: $header-height;
                    padding: 24px;
                    &.condensed{
                        padding:0px !important;
                        height: $header-height-condensed;
                        min-height: $header-height-condensed;
                        max-height: $header-height-condensed;
                    }
                }

                .content {
                    background: transparent;
                    padding: 24px;
                }

                &.md-locked-open {
                    width: 220px;
                    min-width: 220px;
                    max-width: 220px;
                    z-index: 2;
                    background: transparent;
                    box-shadow: none;

                    + .center {
                        margin-left: 0;
                    }
                }

                &:not(.md-locked-open) {

                    .header {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    .content {
                        overflow: hidden;
                    }
                }
            }
            // Center
            > .center {
                position: relative;
                z-index: 2;
                margin-left: 32px;
                margin-right: 32px;

                .header {
                    height: $card-header-height;
                    min-height: $card-header-height;
                    max-height: $card-header-height;
                    padding: 24px;
                    &.condensed{
                        padding:0px !important;
                        height: $card-header-height-condensed;
                        min-height: $card-header-height-condensed;
                        max-height: $card-header-height-condensed;
                    }
                }

                .content-card {
                    background: #FFFFFF;
                    box-shadow: $whiteframe-shadow-7dp;
                    overflow: hidden;

                    .toolbar {
                        padding: 8px 24px;
                        height: $card-toolbar-height;
                        min-height: $card-toolbar-height;
                        max-height: $card-toolbar-height;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                        .sidenav-toggle {
                            margin: 0 8px 0 0 !important;
                            padding: 0 !important;
                            border-radius: 0;
                        }
                    }

                    .content {
                        padding: 24px;
                        background: #FFFFFF;
                    }
                }
            }
        }
        // Right sidenav
        &.right-sidenav {
            // Single scroll
            &.single-scroll {
                height: auto;

                > .center {

                    .content-card {

                        .content {
                            overflow: hidden;
                        }
                    }
                }
            }
            // Sidenav
            > .sidenav {
                width: 240px;
                min-width: 240px;
                max-width: 240px;
                box-shadow: $whiteframe-shadow-7dp;
                z-index: 51;

                .header {
                    height: $header-height;
                    min-height: $header-height;
                    max-height: $header-height;
                    padding: 24px 24px 24px 0;
                    &.condensed{
                        padding:0px !important;
                        height: $header-height-condensed;
                        min-height: $header-height-condensed;
                        max-height: $header-height-condensed;
                    }
                }

                .content {
                    background: transparent;
                    padding: 24px 24px 24px 0;
                }

                &.md-locked-open {
                    width: 196px;
                    min-width: 196px;
                    max-width: 196px;
                    z-index: 2;
                    background: transparent;
                    box-shadow: none;
                }

                &:not(.md-locked-open) {

                    .header {
                        padding: 24px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    .content {
                        overflow: hidden;
                        padding: 24px;
                    }
                }
            }
            // Center
            > .center {
                position: relative;
                z-index: 2;
                margin-left: 32px;
                margin-right: 32px;

                .header {
                    height: $card-header-height;
                    min-height: $card-header-height;
                    max-height: $card-header-height;
                    padding: 24px;
                    &.condensed{
                        padding:0px !important;
                        height: $card-header-height-condensed;
                        min-height: $card-header-height-condensed;
                        max-height: $card-header-height-condensed;
                    }
                }


                .content-card {
                    background: #FFFFFF;
                    box-shadow: $whiteframe-shadow-7dp;
                    overflow: hidden;

                    .toolbar {
                        padding: 8px 24px;
                        height: $card-toolbar-height;
                        min-height: $card-toolbar-height;
                        max-height: $card-toolbar-height;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                        .sidenav-toggle {
                            margin: 0 0 0 8px !important;
                            padding: 0 !important;
                            border-radius: 0;
                        }
                    }

                    .content {
                        padding: 24px;
                        background: #FFFFFF;
                    }
                }
            }
        }
    }
    // Simple layout
    &.simple {
        // Fullwidth
        &.fullwidth,
        &.inner-sidenav {
            min-height: 100%;

            > .header {
                height: $header-height;
                min-height: $header-height;
                max-height: $header-height;
                padding: 24px;
                background-image: url('/assets/images/backgrounds/header-bg.png');
                background-size: cover;
            }

            > .content {
                padding: 24px;
            }
        }
        // Left sidenav
        &.left-sidenav {
            min-height: 100%;
            height: 100%;
            // Single scroll
            &.single-scroll {
                height: auto;

                > .center {
                    overflow: hidden;
                }
            }
            // Inner Left Sidenav
            &.inner-sidenav {
                > .content {
                    > md-sidenav {
                        margin-right: 24px;
                    }
                }
            }

            .sidenav {
                width: 240px;
                min-width: 240px;
                max-width: 240px;
                padding: 24px;
                z-index: 51;
                box-shadow: $whiteframe-shadow-7dp;

                &.md-locked-open {
                    width: 220px;
                    min-width: 220px;
                    max-width: 220px;
                    z-index: 2;
                    box-shadow: none;
                    background: transparent;
                }
            }

            > .center {
                position: relative;
                overflow: auto;
                z-index: 3;
                box-shadow: $whiteframe-shadow-7dp;

                .header {
                    height: $header-height;
                    min-height: $header-height;
                    max-height: $header-height;
                    padding: 24px;
                    background-image: url('/assets/images/backgrounds/header-bg.png');
                    background-size: cover;
                }

                .content {
                    padding: 24px;
                    background: #FFFFFF;
                }
            }
        }
        // Right sidenav
        &.right-sidenav {
            min-height: 100%;
            height: 100%;
            // Single scroll
            &.single-scroll {
                height: auto;

                > .center {
                    overflow: hidden;
                }
            }
            // Inner Right Sidenav
            &.inner-sidenav {
                > .content {
                    > md-sidenav {
                        margin-left: 24px;
                    }
                }
            }

            .sidenav {
                width: 240px;
                min-width: 240px;
                max-width: 240px;
                padding: 24px;
                z-index: 51;
                box-shadow: $whiteframe-shadow-7dp;

                &.md-locked-open {
                    width: 220px;
                    min-width: 220px;
                    max-width: 220px;
                    z-index: 2;
                    box-shadow: none;
                    background: transparent;
                }
            }

            > .center {
                position: relative;
                overflow: auto;
                z-index: 3;
                box-shadow: $whiteframe-shadow-7dp;

                .header {
                    height: $header-height;
                    min-height: $header-height;
                    max-height: $header-height;
                    padding: 24px;
                    background-image: url('/assets/images/backgrounds/header-bg.png');
                    background-size: cover;
                }

                .content {
                    padding: 24px;
                    background: #FFFFFF;
                }
            }
        }
        // Inner Sidenav
        &.inner-sidenav {
            height: auto;

            > .content {
                > md-sidenav.md-locked-open {
                    padding: 0;
                }
            }
        }
        // Tabbed
        &.tabbed {
            min-height: 100%;

            > .header {
                height: $header-height;
                min-height: $header-height;
                max-height: $header-height;
                padding: 24px;
                background-image: url('/assets/images/backgrounds/header-bg.png');
                background-size: cover;
            }

            > .content {

                > md-tabs {

                    > md-tabs-wrapper {
                        background: #FFFFFF;
                        box-shadow: $whiteframe-shadow-1dp;
                        padding: 0 24px;

                        md-tabs-canvas {
                            height: 56px;

                            md-pagination-wrapper {
                                height: 56px;
                            }

                            .md-tab {
                                padding: 16px 24px;
                                text-transform: none;
                            }
                        }
                    }

                    &:not(.md-dynamic-height) {

                        md-tabs-content-wrapper {
                            top: 56px;
                        }
                    }

                    > md-tabs-content-wrapper {

                        > md-tab-content {
                            padding: 24px;
                        }
                    }
                }

                > md-nav-bar {
                    .md-nav-bar {
                        background: #FFFFFF;
                        box-shadow: $whiteframe-shadow-1dp;
                        border: none;
                        height: 56px;

                        nav {
                            margin: 0 12px;

                            .md-nav-item {
                                height: 56px;

                                ._md-nav-button {
                                    height: 56px;
                                    line-height: 32px;
                                }

                                ._md-nav-button-text {
                                    text-transform: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Blank layout
    &.blank {
        min-height: 100%;
        padding: 24px;
    }
    /*start rt;*/
    ._rtl & {
        &.carded {
            // Left sidenav
            &.left-sidenav {
                // Sidenav
                > .sidenav {
                    &.md-locked-open {
                        + .center {
                            margin-left: 32px;
                            margin-right: 0;
                        }
                    }
                }
                // Center
                > .center {
                }
            }
            // Right sidenav
            &.right-sidenav {
                // Sidenav
                > .sidenav {
                    .header {
                        padding: 24px 0 24px 24px;
                    }
                    .content {
                        padding: 24px 0 24px 24px;
                    }
                }
                // Center
                > .center {
                    .content-card {
                        .toolbar {
                            .sidenav-toggle {
                                margin: 0 8px 0 0 !important;
                            }
                        }
                    }
                }
            }
        }
        // Simple layout
        &.simple {
            // Left sidenav
            &.left-sidenav {
                // Inner Left Sidenav
                &.inner-sidenav {
                    > .content {
                        > md-sidenav {
                            margin-right: 0;
                            margin-left: 24px;
                        }
                    }
                }
            }
            // Right sidenav
            &.right-sidenav {
                &.inner-sidenav {
                    > .content {
                        > md-sidenav {
                            margin-right: 24px;
                            margin-left: 0;
                        }
                    }
                }
            }
            // Tabbed
            &.tabbed {
                min-height: 100%;
                > .content {
                    > md-nav-bar {
                        .md-nav-bar {
                            nav {
                                .md-nav-item {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*end rtl*/
}




// Single scroll modifications
.single-scroll {
    // Carded
    .carded {
        // Fullwidth
        &.fullwidth {
            height: auto;

            > .center {
                .content-card {
                    .content {
                        overflow: hidden;
                    }
                }
            }
        }
        // Left sidenav
        &.left-sidenav {
            height: auto;

            > .center {
                .content-card {
                    .content {
                        overflow: hidden;
                    }
                }
            }
        }
        // Right sidenav
        &.right-sidenav {
            height: auto;

            > .center {
                .content-card {
                    .content {
                        overflow: hidden;
                    }
                }
            }
        }
    }
    // Simple layout
    .simple {
        // Left sidenav
        &.left-sidenav {
            height: auto;

            > .center {
                overflow: hidden;
            }
        }
        // Right sidenav
        &.right-sidenav {
            height: auto;

            > .center {
                overflow: hidden;
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {
    .page-layout {
        &.simple {
            &.inner-sidenav {
                &.right-sidenav, &.left-sidenav {
                    > .content {
                        height: auto !important;

                        > md-sidenav {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .sidenav-open {
        .page-layout {
            &.simple {
                &.inner-sidenav {
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {

    .page-layout {
        .top-bg {
            height: $header-height-xs;
        }
        &.condensed{
            .top-bg{
                height: $header-height-xs-condensed;
            }
        }

        &.carded {
            &.right-sidenav,
            &.left-sidenav,
            &.fullwidth {
                > .center {
                    margin-left: 16px;
                    margin-right: 16px;

                    .header {
                        height: $card-header-height-sm;
                        min-height: $card-header-height-sm;
                        max-height: $card-header-height-sm;
                        padding: 16px;
                        &.condensed{
                            padding:0px !important;
                            height: $card-header-height-sm-condensed;
                            min-height: $card-header-height-sm-condensed;
                            max-height: $card-header-height-sm-condensed;
                        }
                    }
                }
            }
            // Turn carded layouts into single-scroll
            &.fullwidth {
                height: auto;

                > .center {

                    .content-card {

                        .content {
                            overflow: hidden;
                        }
                    }
                }
            }

            &.right-sidenav,
            &.left-sidenav {
                height: auto;

                > .center {

                    .content-card {

                        .content {
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        &.simple {

            &.fullwidth,
            &.inner-sidenav {

                > .header {
                    height: $header-height-xs;
                    min-height: $header-height-xs;
                    max-height: $header-height-xs;
                    padding: 16px;
                    &.condensed{
                        padding:0px !important;
                        height: $header-height-xs-condensed;
                        min-height: $header-height-xs-condensed;
                        max-height: $header-height-xs-condensed;
                    }
                }
            }

            &.right-sidenav,
            &.left-sidenav {

                > .center {

                    .header {
                        height: $header-height-xs;
                        min-height: $header-height-xs;
                        max-height: $header-height-xs;
                        padding: 16px;
                        &.condensed{
                            padding:0px !important;
                            height: $header-height-xs-condensed;
                            min-height: $header-height-xs-condensed;
                            max-height: $header-height-xs-condensed;
                        }
                    }
                }
            }
        }
        // Turn simple layouts into single-scroll
        &.simple {

            &.left-sidenav,
            &.right-sidenav {
                height: auto;

                > .center {
                    overflow: hidden;
                }
            }
        }
    }
}

.doc-page {

    > .header {
        height: 140px !important;
        min-height: 140px !important;
        max-height: 140px !important;
        padding: 24px !important;
        .title{
            font-size:29px;
        }
        .reference-button {
            padding: 0 8px;
            min-width: 45px;

            span {
                margin-left: 4px;
            }
        }
    }

    > .content {
        max-width: 1200px;

        .description {
            margin-bottom: 32px;
        }

        .card {
            background: #FFFFFF;
            margin: 16px 0 48px 0;
            padding: 24px;

            .preview,
            .source-code {
                margin: 8px;
            }

            .preview {
                background: #F9FAFB;
                min-height: 90px;
                padding: 8px 16px;
            }

            .source-code {
                background: #F3F4F6;
                position: relative;

                [hljs], hljs {
                    display: block;
                    background-color: transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        .attributes {
            margin: 16px 0 48px 0;
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    .doc-page {

        .source-code {
            min-height: 120px;
        }

        > .header {

            .reference-button {
                margin: 0;

                span {
                    display: none;
                }
            }
        }

        .content {

            .ms-responsive-table-wrapper {

                table {

                    tbody {

                        td {

                            &.description {
                                min-width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

