<!-- TODO LIST ITEMS -->
<div class="group-cards-container">
    <div class="group-cards-group animate-repeat"
         ng-if="(vm.groups | filter:{$$visible: true} | filter:{category:cat.id}:true).length"
         ng-repeat="cat in MS.group_categories | orderBy:vm.groupOrder:vm.groupOrderDescending track by cat.id">
        <div class="group-cards-header">{{cat.name}}</div>
        <!-- MS-CARD -->
        <div  layout="row" flex="100" layout-wrap>
            <div class="group-card" flippable="true" flex="100" flex-gt-sm="50" 
                       ng-repeat="group in vm.groups | filter:{$$visible: true} | filter:{category:cat.id}:true | orderBy:vm.groupOrder:vm.groupOrderDescending | limitTo:50 track by group.id">
                <div class="group-card-content" layout="column"
                                 flex layout-fill layout-align="space-between center"
                                 ng-class="[group.$$anim, {'md-green-100-bg':group.subscribed, 'md-background-bg': !group.subscribed}]">

                    <div class="full-width" layout="row" layout-align="start center">
                        <img class="avatar" ng-if="group.avatar" alt="{{group.name}}" ng-src="{{group.avatar}}" />
                        <div class="avatar" ng-if="!group.avatar" ms-random-class="vm.colors">
                            {{group.name.substr(0,2)}}
                        </div>

                        <div flex>
                            <div class="text-truncate h3 text-semibold">{{group.name}}</div>
                        </div>

                        <md-icon md-font-icon="icon-star amber-fg m-near-8" class="s16"
                                 ng-if="thread.starred"></md-icon>

                    </div>

                    <div class="tags full-width" layout="row" layout-align="start center" layout-wrap>
                        <div class="tag" layout="row" layout-align="start center" data-ng-repeat="tag in group.tags">
                            <div class="tag-color" ms-random-class="vm.colors"></div>
                            <div class="tag-label">{{tag}}</div>
                        </div>
                    </div>

                    <div ng-bind-html="group.description" class="p-10 full-width" style="max-heightX:140px; overflow:hidden" flex></div>

                    <div layout="row" layout-align="start center" class="full-width">
                        <md-button class="md-accent md-background" ng-click="vm.viewGroupMessages(group)">
                            <span translate>View group messages</span>
                        </md-button>
                        <div flex></div>
                        <md-button class="md-raised md-accent md-background" ng-click="vm.handleGroupSubscription(group, $event)">
                            <span>{{(group.subscribed ? 'Manage subscription' : 'Subscribe to group') | translate}}</span>
                        </md-button>
                    </div>

                </div>
            </div>
        </div>

        <!-- / MS-CARD -->
    </div>

</div>
<div ng-if="vm.groupCount == 0" class="text-center padding-vertical-60 secondary-text font-size-22">
    {{'No Matching Groups Found' | translate}}
</div>
<!-- / TODO LIST ITEMS -->