

.message-comments {
    background: #F3F4F5;

    .post-button {
        margin: 0;
        width: 64px;
        min-width: 64px;
        height: 30px;
        line-height: 30px;
        min-height: 30px;
    }

    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.04);
    padding: 16px;

    .comment-count {
        margin-bottom: 16px;
        cursor: pointer;

        md-icon {
            margin-left: 8px;
        }
    }

    .comment {
        margin-bottom: 24px;

        .username {
            font-weight: 500;
            margin-right: 4px;
        }

        .message {
            color: rgba(0, 0, 0, 0.87);
        }

        .time {
            color: rgba(0, 0, 0, 0.54);
        }

        .actions {
            margin-top: 8px;

            .reply-button {
                margin-right: 16px;
                cursor: pointer;
            }

            .report-button {
                margin: 0;
                cursor: pointer;
            }
        }
    }

    .reply {

        form {

            textarea {
                width: 100% !important;
                min-height: 72px;
                padding: 8px;
                margin-bottom: 8px;
                font-size: 13px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }

            .post-comment-button {
                margin: 0;
                text-transform: inherit;
                font-weight: normal;
                padding: 0 12px;
                min-height: 30px;
                min-width: inherit;
                line-height: 30px;
            }
        }
    }
}
