<div id="message-groups-group" class="page-layout simple tabbed" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-groups-button md-icon-button m-far-16" aria-label="Go to groups"
                       ng-click="vm.gotoGroups()"
                       translate translate-attr-aria-label="GO_TO_GROUPS">
                <md-icon md-font-icon="icon-arrow-left" class="icon-flip"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center">
                <div class="group-image m-far-16" hide-xs>
                    <img ng-src="{{vm.group.images[0].url}}">
                </div>
                <div layout="column" layout-align="start start">
                    <div class="h2 text-truncate">
                        {{vm.group.name}}
                    </div>
                    <div class="subtitle secondary-text" hide-xs>
                        <span translate="Group Detail">Group Detail</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveGroup()"
                       ng-disabled="!vm.isFormValid('groupForm')">
                <span translate="Save">Save</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">
        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span translate="General Details">General Details</span>
                </md-tab-label>
                <md-tab-body>
                    <form id="groupForm" name="groupForm" novalidate>
                        <div ng-include="'app/main/apps/message-groups/views/group-setup/blocks/general.html'"></div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="vm.messagesSelected()" ng-if="vm.group.id">
                <md-tab-label>
                    <span translate="Messages">Messages</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/main/apps/message-groups/views/group-setup/blocks/messages.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-if="vm.group.id && vm.group.groupType == 'pr'" md-on-select="vm.subscribersSelected()">
                <md-tab-label>
                    <span translate="Subscribers">Subscribers</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/main/apps/message-groups/views/group-setup/blocks/subscribers.html'"></div>
                </md-tab-body>
            </md-tab>


        </md-tabs>
    </div>
    <!-- / CONTENT -->
</div>